<h4>🎉 Your Order is placed successfully</h4>
<mat-horizontal-stepper>
  <!-- Step 1 -->
  <mat-step label="Step 1">
    <!-- Content for Step 1 -->
    <!-- You can add any component or content here -->
    <p>Ready to ship.</p>
  </mat-step>

  <!-- Step 2 -->
  <mat-step label="Step 2">
    <!-- Content for Step 2 -->
    <p>This is the content for Step 2.</p>
  </mat-step>

  <!-- Step 3 -->
  <mat-step label="Step 3">
    <!-- Content for Step 3 -->
    <p>This is the content for Step 3.</p>
  </mat-step>
</mat-horizontal-stepper>
