<div class="cart-container" *ngIf="productsDetails.length">
    <h2>Your Shopping Cart</h2>
  
    <!-- Example cart items -->
    <div class="cart-item" *ngFor="let productDetails of productsDetails; let i=index">
      <img class="product-image" [src]="productDetails.image" alt="Product Image">
      <div class="product-details">
        <div class="product-title">{{productDetails.name}}</div>
        <div class="product-price">{{productDetails.price}}</div>
        <!-- Add more details if needed -->
        <div class="quantity-container">
          <label for="quantity">Quantity:</label>
          <input type="number" id="quantity" [(ngModel)]="productsDetails[i].count" (ngModelChange)="onQuantityChange(i)" min="1">
        </div>
      </div>
      <div class="remove-button" (click)="onClickRemoval(i)">Remove</div>
    </div>
  
    <!-- Display total, checkout button, etc. -->
    <div class="cart-summary">
      <div>Total price: ₹{{totalPrice}}</div>
      <button (click)="onClickCheckOut()" routerLink="/address">CheckOut</button>
    </div>
  </div>
  <h2 *ngIf="productsDetails.length<1">Your cart is empty</h2>