
<div class="header">
  <!-- Search Bar -->
  <mat-form-field class="search-bar">
    <mat-label>Search</mat-label>
    <input matInput placeholder="Search for products">
  </mat-form-field>

  <!-- Login Button -->
  <div class="login-button" *ngIf="!isUserLoginIn()" (click)="clickLogin()">
    <i class="material-icons">person</i> <!-- Material Icons for the person icon -->
    Login
  </div>

  <div class="login-button" *ngIf="isUserLoginIn()" (click)="onLogout()">
    <i class="material-icons">person</i> <!-- Material Icons for the person icon -->
    Logout
  </div>

  <!-- Cart Icon -->
<!-- app.component.html or your component's HTML file -->
<div class="cart-icon" (click)="onClickCart()" routerLink="/cart">
  <mat-icon>shopping_cart</mat-icon>
  <span class="cart-badge" *ngIf="cartCount > 0">{{ cartCount }}</span>
</div>

</div>
  <hr>
<router-outlet></router-outlet>
<!--footer *ngIf="isFooterShow()" id="footer" class="mt-5">
  <div>
    <div>
      <div class="footer-text">
        2023 All rights reserved
      </div>
    </div>
    <div>
      <div class="footer-link">
        <a href="" class="mx-2">Contact Us</a>
        <a href="" class="mx-2">Privacy Polict</a>
        <a href="" class="mx-2">Term of Use</a>
      </div>
    </div>
  </div>
</footer-->