h3 {
  margin: 4px 0;
}

a {
  text-decoration: none;
  color: #000000;
}

.footer-link,
.footer-text {
  display: inline-block;
  margin-right: 10px;
}

#footer {
  height: 100px;
  margin-bottom: 10px;
}

.header {
  background-color: #3498db;
  color: #fff;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  position: relative;
}

.search-bar {
  flex: 0.5;
  margin: 0 10px;
}

.login-button {
  cursor: pointer;
  color: #fff;
  font-weight: bold;
  background-color: #4caf50;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 16px;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.login-button:hover {
  background-color: #45a049;
}

.login-button .material-icons {
  margin-right: 5px;
}

.cart-icon {
  cursor: pointer;
  font-size: 24px;
}

.cart-badge{

  color: #fff;
  background-color: black;
  font-size: medium;
}

.logo {
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding: 5px;
  border-radius: 5px;
  width: auto;
}

.logo img {
  width: 50%;
  height: 50%;
  object-fit: contain;
  border-radius: 10px;
}

.drop-down {
  background-color: white;
}

.boarderless {
  border: none;
  background-color: transparent;
}

.borderless {
  display: flex;
  align-items: center;
  padding: 10px;
  border: none;
  background-color: #3498db;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.borderless mat-icon {
  margin-right: 8px;
}

.login-button-container:hover .login-dropdown {
  display: block;
}

li:hover{
  background-color: #d4cbcb;
}

.login-button-container {
  position: relative;
}

.login-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1;
  padding: 0;
  width: 150px;
  height: auto;
}

/* Add your own styling here */
