<div class="header">

  <div class="logo" (click)="onClickLogo()">
    <img src="assets/Logo.png" alt="Company Logo">
  </div>

  <!-- Search Bar -->
  <mat-form-field class="search-bar">
    <mat-label>Search</mat-label>
    <input matInput placeholder="Search for products">
  </mat-form-field>

  <!-- Login Button -->
  <div class="login-button-container" (mouseenter)="onMouseHover()" (mouseleave)="onMouseLeave()">
    <div class="login-button" *ngIf="!isUserLoginIn()" (click)="clickLogin()">
      <i class="material-icons">person</i> <!-- Material Icons for the person icon -->
      Login
      <mat-icon class="arrow-icon">arrow_drop_down</mat-icon>
      <!-- Dropdown Content -->
    </div>
    <div class="login-button" *ngIf="isUserLoginIn()" (click)="onLogout()">
      <i class="material-icons">person</i> <!-- Material Icons for the person icon -->
      Logout
      <mat-icon class="arrow-icon">arrow_drop_down</mat-icon>
    </div>
    <ul class="login-dropdown" *ngIf="isLoginHovered">
      <li>
        <button class="boarderless" (click)="clickProfile()">
          <mat-icon>account_circle</mat-icon>
          My Profile
        </button>
      </li>
      <li>
        <button class="boarderless">
          <img src="https://static-assets-web.flixcart.com/batman-returns/batman-returns/p/images/orders-bfe8c4.svg" alt="">
          Orders
        </button>
      </li>
    </ul>
  </div>

  <!-- Cart Icon -->
  <div class="cart-icon" (click)="onClickCart()" routerLink="/cart">
    <mat-icon>shopping_cart</mat-icon>
    <span class="cart-badge" *ngIf="cartCount > 0">{{ cartCount }}</span>
  </div>

</div>
<hr>
<router-outlet></router-outlet>

<!--footer *ngIf="isFooterShow()" id="footer" class="mt-5">
  <div>
    <div>
      <div class="footer-text">
        2023 All rights reserved
      </div>
    </div>
    <div>
      <div class="footer-link">
        <a href="" class="mx-2">Contact Us</a>
        <a href="" class="mx-2">Privacy Policy</a>
        <a href="" class="mx-2">Term of Use</a>
      </div>
    </div>
  </div>
</footer -->
