<div>
    <button (click)="openDialog($event)" class="address">Add Address</button>
  </div>
  
  <div class="row">
    <ng-container *ngFor="let address of addresses">
      <div class="col-md-4">
        <div class="address-box">
          <p class="username">{{ address?.name }}</p>
          <p>Phone number: {{ address?.contact }}</p>
          <p>{{ address?.pincode }}</p>
          <p>{{ address?.locality }}</p>
          <p>{{ address?.address }}</p>
          <p>{{ address?.city }}</p>
          <p>{{ address?.state }}</p>
          <p>{{ address?.landmark }}</p>
        </div>
      </div>
    </ng-container>
  </div>
  