<div class="container">
    <div class="row">
        <div class="px-0">
            <div class="profile-banner d-flex justify-content-center align-items-center">
                <div class="custom_profile_details">
                    <div class="profile-detail">
                        <p class="mb-1">Ritesh Ranjan Mishra</p>
                        <p class="mb-1">7798488832</p>
                        <p class="mb-1">riteshranjanmishra938@gmail.com</p>
                        <p class="mb-1">Male</p>
                        <p class="mb-1">21/09/1995</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
